:root {
  --very-dark-blue: #070439;
  --text-color: #07043b;
  --desaturated-blue: #585989;
  --bright-blue: #3065f8;
  --moderate-cyan: #3c9f8f;
  --light-grayish-blue: #f6f6fe;
  --light-gray: #bfbfbf;
}

/* General Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
}

h3 {
  font-size: 32px;
}

@media (max-width: 576px) {
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

@media (max-width: 576px) {
  p {
    font-size: 14px;
  }
}

/* Header Desktop */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 80px;
  position: fixed;
  top: 0;
}

nav a {
  display: inline-block;
  padding: 15px;
  font-size: 16px;
  color: var(--text-color);
}

/* Header Mobile */
@media (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav a {
    font-size: 12px;
  }

  #header-img {
    width: 25%;
  }
}

/* Features Section */
#features {
  display: flex;
  margin-top: 85px;
  margin-bottom: 165px;
  padding: 35px 80px;
}

.cta {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

form {
  margin-top: 25px;
}

.email-input {
  padding: 15px 10px;
  width: 50%;
  /* max-width: 320px; */
  border-color: rgba(7, 4, 59, 0.5);
  border-width: 0.63px;
  border-radius: 4px;
  margin-right: 16px;
}

::placeholder {
  color: #c2c2c2;
  font-size: 14px;
}

#submit {
  padding: 15px 60px;
  border-radius: 4px;
  color: white;
  background-color: var(--bright-blue);
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

#main-image {
  flex-shrink: 1.5;
}

#main-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  #features {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    text-align: center;
    margin-bottom: 80px;
  }

  .cta {
    padding-right: 0;
    display: block;
  }

  .email-input {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    padding-left: 10px;
  }

  #submit {
    margin-top: 16px;
    width: 100%;
  }
}

/* Team */
#team {
  background: url("images/bg-curve-desktop.svg");
  background-size: cover;
  background-position: center;
  min-height: 800px;
  display: flex;
  padding-top: 100px;
}

.left {
  display: flex;
  flex-direction: column;
  padding: 60px 0px 60px 80px;
}

.feature-paragraph {
  max-width: 90%;
  margin-bottom: 0;
}

.left a {
  margin-top: 20px;
  color: var(--moderate-cyan);
  border-bottom: 1px solid var(--moderate-cyan);
  padding-bottom: 2px;
  width: 166px;
}

.icon-arrow {
  width: 12px;
  height: 12px;
}

.card {
  background-color: white;
  margin-top: 45px;
  width: 356px;
  padding: 25px 35px;
  border-radius: 5px;
}

.quote {
  line-height: 2;
  margin-top: 0;
}

.avatar {
  display: flex;
}

.avatar img {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

.avatar-info {
  display: flex;
  flex-direction: column;
}

.avatar-info p {
  margin: 0;
  margin-left: 10px;
}

.avatar-name {
  font-size: 11px;
  font-weight: bold;
}

.avatar-title {
  font-size: 8px;
}

.right {
  padding: 120px 80px 60px 0px;
  flex-shrink: 2;
}

.illustration {
  max-width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  #team {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
  }

  .left {
    padding: 20px;
    text-align: center;
  }

  .left a {
    margin: auto;
    margin-top: 35px;
  }

  .feature-paragraph {
    max-width: 100%;
  }

  .card {
    width: 100%;
    text-align: left;
  }

  .right {
    flex-shrink: 0;
    padding: 40px 20px;
  }
}

/* Sign In */
#signIn {
  background-color: #575988;
  color: white;
  padding: 70px 80px;
  display: flex;
  align-items: center;
}

.bottom-form {
  display: flex;
  flex-direction: column;
  min-width: 480px;
}

.bottom-form input {
  padding: 15px 10px;
  border-style: none;
  border-radius: 4px;
}

.bottom-form button {
  margin-top: 16px;
  max-width: 200px;
  padding: 15px 10px;
  border-radius: 4px;
  color: white;
  background-color: var(--bright-blue);
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

@media (max-width: 576px) {
  #signIn {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 70px;
    text-align: center;
  }

  .bottom-form {
    min-width: 100%;
    margin-top: 24px;
  }

  .bottom-form button {
    max-width: 100%;
    margin-top: 8px;
  }
}

/* Footer */
#footer {
  background-color: #07043b;
  color: white;
  padding: 80px 80px;
  display: flex;
  justify-content: space-between;
}

#footer a {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo-white {
  margin-bottom: 10px;
}

.contact-icon {
  margin-right: 15px;
}

.links-column-1,
.links-column-2 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  #footer {
    display: flex;
    flex-direction: column;
  }

  #footer a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .contact-link {
    display: flex;
    align-items: flex-end;
  }

  .links-column-1,
  .links-column-2 {
    margin-top: 20px;
  }

  .links-column-1 a,
  .links-column-2 a {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .social-links {
    margin: auto;
    margin-top: 35px;
  }
}
